.app__filter-input {
    background-color: #424642;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 100%;
}

.app__filter-input input {
    padding: .7rem;
    width: 30%;
    border-radius: 5px;
}

.app__filter-input input:focus {
    outline: none;
}

.app__filter-input input:hover {
    border: 2px solid black;
}

.app__filter-input button {
    padding: .7rem;
    margin-left: 2rem;
    border-radius: 7px;
}

.app__filter-input button:focus {
    outline: none;
}

.app__filter-input button:hover {
    border: 2px solid black;
}
